# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
MobileNetworkECS.Tests/** export-ignore
MobileNetworkECS.Tests export-ignore
*.sln export-ignore
*.csproj export-ignore
Program.cs export-ignore
